body {
	overflow: auto;
}

#message-input {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 50%;
}

#chat-wrapper {
	height: 50vh;
	width: 50vw;
	text-align: center;
	margin: auto;
	overflow-y: scroll;
	border-radius: 5px;
	border-color: #a0a0a0;
	border-style: solid;
	border-width: 2px;
	padding: 2%;
}

.message {
	width: 25vw;
	border-radius: 5px;
	border-style: none;
	border-width: 2px;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: left;
	padding: 2%;
	word-wrap: break-word;
}

.received {
	background-color: #e0e0e0;
	float: left;
}

.sent {
	background-color: #3498db;
	float: right;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f1f1f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: normal;
    /*border-width: 5px;
    border-color: #e5e5e6;
    border-right-style: solid;*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #393939;
    border-width: 1px;
    border-color: #e5e5e6;
    border-bottom-style: solid;
    padding: 0 !important;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #2085b9;
    background: #fdfefe;
    cursor: pointer;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
    font-weight: bold !important;
}

.sidebar-nav > .sidebar-brand a {
    color: #393939;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #2085b9;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}